@model List<int>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">App Deployment Github</h1>
    <h3 class="text-danger">@ViewData["SALUDO"]</h3>
    <img src="~/images/gato.jpg"
         style="width: 200px; height: 200px;" />
    <ul class="list-group">
        @foreach (int num in Model)
        {
            <li class="list-group-item">Numero: @num</li>
        }
    </ul>
</div>
